<ion-header [translucent]="true" >
  <ion-toolbar style="color: black; ion-background-color: #473FA8">
    <ion-title>
      <center>TRAVEL NOW</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <br>
    <ion-card-subtitle>&nbsp;Pacotes de Turismo de Aventura</ion-card-subtitle>
    <ion-card-content>Em Portugal</ion-card-content>

  <table>
    <tr>
      <td><img  width="180" height="130" src='/assets/portugal.jpg' alt=""></td>

      <td>
        <ion-icon name="bed-outline"></ion-icon><ion-icon name="airplane-outline"></ion-icon><ion-icon name="restaurant-outline"></ion-icon>
        <br><br><br><br>
        <p>256€</p>

      </td>
    </tr>
  </table>

  <br>
  <ion-card-content>Em França</ion-card-content>

  <table>
    <tr>
      <td><img  width="180" height="130" src='/assets/portugal.jpg' alt=""></td>

      <td>
        <ion-icon name="bed-outline"></ion-icon><ion-icon name="airplane-outline"></ion-icon><ion-icon name="restaurant-outline"></ion-icon>
        <br><br><br><br>
        <p>256€</p>

      </td>
    </tr>
  </table>


</ion-content>
