<ion-header [translucent]="true" >
  <ion-toolbar style="color: black; ion-background-color: #473FA8">
    <ion-title>
      <center>TRAVEL NOW</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <br>
    <ion-card-subtitle>&nbsp;Pacotes de Turismo de Aventura</ion-card-subtitle>
    <ion-card-content>Em Portugal</ion-card-content>

  <table>
    <tr>
      <td><img  width="180" height="130" src='/assets/portugal.jpg' alt="" class="border"></td>
      <td><img  width="180" height="130" src='/assets/portugal2.jpg' alt="" class="border"></td>

    </tr>
    <tr>
      <td><img  width="180" height="130" src='/assets/portugal3.jpg' alt="" class="border"></td>
      <td><img  width="180" height="130" src='/assets/portugal4.jpg' alt="" class="border"></td>

    </tr>
  </table>

  <ion-card-content>Em França</ion-card-content>


</ion-content>
