<ion-header [translucent]="true" >
  <ion-toolbar style="color: black; ion-background-color: #473FA8">
    <ion-title>
      <center>TRAVEL NOW</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <br>

    <ion-card-subtitle>&nbsp; Pacotes de Turismo de Aventura</ion-card-subtitle>
    <ion-text><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon></ion-text>
    <img src="/assets/aventura.png" alt="" />
    <ion-icon name="chevron-forward-circle-outline"></ion-icon>

    <ion-card-subtitle>&nbsp; Pacotes de Turismo Cultural</ion-card-subtitle>
    <ion-text><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon></ion-text>
    <img src="/assets/cultural.png" alt="" />
    <ion-icon name="chevron-forward-circle-outline"></ion-icon>

    <ion-card-subtitle>&nbsp; Pacotes de Turismo Rural</ion-card-subtitle>
    <ion-text><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon></ion-text>
    <img src="/assets/rural.png" alt="" />
    <ion-icon name="chevron-forward-circle-outline"></ion-icon>

    <ion-card-subtitle>&nbsp; Pacotes de Turismo Ecológico</ion-card-subtitle>
    <ion-text><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon><ion-icon name="star-sharp" style="color: yellow"></ion-icon></ion-text>
    <img src="/assets/ecologico.png" alt="" />
    <ion-icon name="chevron-forward-circle-outline"></ion-icon>

</ion-content>
