<ion-header [translucent]="true" >
  <ion-toolbar style="color: black; ion-background-color: #473FA8">
    <ion-title>
      <center>TRAVEL NOW</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-header>
    <ion-card-subtitle>Pacotes de Turismo de Aventura</ion-card-subtitle>
  </ion-card-header>

  <ion-list>
  <ion-item *ngFor="let item of videos">
    <ion-thumbnail slot="start">
      <ion-img [src]="item.image"></ion-img>
    </ion-thumbnail>
    <ion-label>{{item.description}}</ion-label>
    <ion-icon name='play' item-start style="color:#D08036" (click)="openNavVideoPlay(item.id)"></ion-icon>
  </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-card-subtitle>Pacotes de Turismo Cultural</ion-card-subtitle>
  </ion-card-header>

  <ion-list>
    <ion-item *ngFor="let item of videos1">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.description}}</ion-label>
      <ion-icon name='play' item-start style="color:#D08036" (click)="openNavVideoPlay(item.id)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-card-subtitle>Pacotes de Turismo Rural</ion-card-subtitle>
  </ion-card-header>

  <ion-list>
    <ion-item *ngFor="let item of videos2">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.description}}</ion-label>
      <ion-icon name='play' item-start style="color:#D08036" (click)="openNavVideoPlay(item.id)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-card-subtitle>Pacotes de Turismo Ecológico</ion-card-subtitle>
  </ion-card-header>

  <ion-list>
    <ion-item *ngFor="let item of videos3">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.description}}</ion-label>
      <ion-icon name='play' item-start style="color:#D08036" (click)="openNavVideoPlay(item.id)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
